## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [25]:
cities = ['Cali', 'Buenos Aires', 'Quito', 'Sao Paulo', 'Caracas', 'Lima']
cities

['Cali', 'Buenos Aires', 'Quito', 'Sao Paulo', 'Caracas', 'Lima']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
cities[1]

'Buenos Aires'

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
cities[1:4]

['Buenos Aires', 'Quito', 'Sao Paulo']

4) Visualizar el tipo de dato de la lista

In [7]:
type(cities)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [8]:
cities[2:]

['Quito', 'Sao Paulo', 'Caracas', 'Lima']

6) Visualizar los primeros 4 elementos de la lista

In [9]:
cities[:4]

['Cali', 'Buenos Aires', 'Quito', 'Sao Paulo']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

* No arroja error porqu las listas permiten elementos repetidos

In [26]:
cities.append('Cali')
cities.append('Montevideo')

In [27]:
cities

['Cali',
 'Buenos Aires',
 'Quito',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo']

8) Agregar otra ciudad, pero en la cuarta posición

In [28]:
cities.insert(3,'Bogota')

In [29]:
cities

['Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo']

9) Concatenar otra lista a la ya creada

In [30]:
cities.extend(['Madrid', 'Barcelona', 'Sevilla'])

In [31]:
cities

['Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Barcelona',
 'Sevilla']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [32]:
cities.index('Cali') # Devuelve el primer indice que concide.

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [33]:
cities.index('Berlin') # Error de elemento que no está en la lista

ValueError: 'Berlin' is not in list

12) Eliminar un elemento de la lista

In [34]:
cities.pop()

'Sevilla'

In [35]:
cities

['Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Barcelona']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [36]:
cities.remove('Sevilla') # Error de método. El elemento no está en la lista

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [37]:
ultimo = cities.pop()
ultimo

'Barcelona'

15) Mostrar la lista multiplicada por 4

In [38]:
cities * 4

['Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [41]:
my_tuple = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [43]:
my_tuple[10:16]

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [44]:
20 in my_tuple

True

In [45]:
30 in my_tuple

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [46]:
ciudad = 'Paris'
if ciudad in cities:
    print(f'{ciudad} ya está en la lista.')
else:
    cities.append(ciudad)
    print(f'Se ha agregado {ciudad} a la lista,')

Se ha agregado Paris a la lista,

In [47]:
cities

['Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [48]:
cities.count('Cali')

2

In [49]:
my_tuple.count(20)

1

21) Convertir la tupla en una lista

In [54]:
list_from_tuple = list(my_tuple)
list_from_tuple

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [56]:
uno, dos, tres = my_tuple[:3]
print(uno)
print(dos)
print(tres)
print(my_tuple)

1
2
3
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [64]:
diccionario = {
    'ciudades': cities,
    'continentes': ['América', 'América', 'América', 'América', 'América', 'América', 'América', 'América' , 'América', 'Europa', 'Europa']
}

In [65]:
diccionario

{'ciudades': ['Cali',
  'Buenos Aires',
  'Quito',
  'Bogota',
  'Sao Paulo',
  'Caracas',
  'Lima',
  'Cali',
  'Montevideo',
  'Madrid',
  'Paris'],
 'continentes': ['América',
  'América',
  'América',
  'América',
  'América',
  'América',
  'América',
  'América',
  'América',
  'Europa',
  'Europa']}

24) Imprimir las claves del diccionario

In [66]:
diccionario.keys()

dict_keys(['ciudades', 'continentes'])

25) Imprimir las ciudades a través de su clave

In [68]:
diccionario['ciudades']

['Cali',
 'Buenos Aires',
 'Quito',
 'Bogota',
 'Sao Paulo',
 'Caracas',
 'Lima',
 'Cali',
 'Montevideo',
 'Madrid',
 'Paris']